body {
  font-family: Lato;
  font-size: 100%;
  background-color: #e6e6e6 !important; }
  body .hero-section {
    padding: 4em 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    body .hero-section .row {
      margin: auto; }
  body .artur-nav {
    background: #D7C800; }
    body .artur-nav .navbar-toggler {
      border-color: #07005B; }
    body .artur-nav .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%287, 0, 91, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
    body .artur-nav .navbar-toggler:focus {
      box-shadow: none; }
    body .artur-nav .a-logo {
      margin-right: 0;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Lato;
      font-size: 1.5em;
      font-weight: 700;
      color: #07005B;
      padding: 0; }
    body .artur-nav ul {
      margin-left: 1em; }
      body .artur-nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: Lato;
        font-size: 1.5em;
        font-weight: 700;
        color: #07005B;
        padding: 0; }
        body .artur-nav ul li a.current-menu-item {
          color: white; }
        body .artur-nav ul li a:hover {
          color: white; }
  body .teaser-section, body .offer-row, body .projects-row, body .about-row {
    margin-top: 3em;
    font-family: Lato; }
    body .teaser-section h1, body .offer-row h1, body .projects-row h1, body .about-row h1 {
      text-transform: uppercase; }
  body .teaser-section h1 {
    margin-bottom: 1em; }
  body .offer-row {
    background-color: #00458C;
    border-radius: 9px;
    color: white; }
    body .offer-row .offer-title {
      margin-bottom: 0.6em;
      padding-top: 0.6em; }
    body .offer-row .offer-content {
      padding: 0 1em; }
      body .offer-row .offer-content h2 {
        margin-bottom: 0.6em; }
  body .about-row .about-title {
    margin-bottom: 0.6em; }
  body .project-card {
    background-color: #00458C;
    border-radius: 9px;
    margin-top: 1.5em;
    color: white; }
    body .project-card .card-title, body .project-card .card-tech, body .project-card .card-excerpt {
      padding: 0 1em; }
    body .project-card .card-title {
      padding-top: 0.6em; }
      body .project-card .card-title h2 {
        text-transform: uppercase; }
        body .project-card .card-title h2 a {
          text-decoration: none;
          color: white; }
          body .project-card .card-title h2 a:hover {
            color: #D7C800; }
  body .tech-row {
    margin: 1em 0; }
    body .tech-row .col {
      padding: 0; }
      body .tech-row .col p {
        font-weight: 600;
        font-size: 1.5em; }
  body .artur-blog-title-row {
    margin-top: 3em;
    text-transform: uppercase; }
  body .artur-title-row {
    margin-top: 2em;
    border-bottom: 3px solid #07005B; }
    body .artur-title-row a {
      text-decoration: none;
      color: black; }
      body .artur-title-row a:hover {
        color: #D7C800; }
      body .artur-title-row a:visited {
        color: black; }
        body .artur-title-row a:visited:hover {
          color: #D7C800; }
  body .artur-time-row p {
    font-size: 0.8em; }
  body .page-link-row, body .artur-post-nav-row {
    margin: 2em 0; }
  body .artur-post-nav-row .col {
    padding: 0; }
    body .artur-post-nav-row .col nav {
      margin-bottom: 0; }
  body .artur-button {
    background-color: #07005B;
    color: white;
    text-decoration: none;
    border-color: #07005B;
    text-transform: uppercase; }
    body .artur-button:hover {
      background-color: #07005B;
      color: #D7C800;
      border-color: #D7C800;
      text-decoration: none; }
  body .button-row {
    padding: 1.5em 0; }
  body .artur-footer {
    color: #07005B;
    background-color: #D7C800; }
    body .artur-footer p {
      margin-top: 2em; }
