body {
  font-family: Lato;
  font-size: 100%;
  background-color: #e6e6e6 !important; }
  body .hero-section {
    padding: 4em 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/hero-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    body .hero-section .row {
      margin: auto; }
  body .artur-nav {
    background: #D7C800; }
    body .artur-nav .navbar-toggler {
      border-color: #07005B; }
    body .artur-nav .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%287, 0, 91, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
    body .artur-nav .navbar-toggler:focus {
      box-shadow: none; }
    body .artur-nav .a-logo {
      margin-right: 0;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Lato;
      font-size: 1.5em;
      font-weight: 700;
      color: #07005B;
      padding: 0; }
    body .artur-nav ul {
      margin-left: 1em; }
      body .artur-nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: Lato;
        font-size: 1.5em;
        font-weight: 700;
        color: #07005B;
        padding: 0; }
        body .artur-nav ul li a.current-menu-item {
          color: white; }
        body .artur-nav ul li a:hover, body .artur-nav ul li a:focus {
          color: white; }
  body .blog-con {
    margin-bottom: 1em; }
  body .teaser-section,
  body .offer-row,
  body .projects-row,
  body .about-row {
    margin-top: 3em;
    font-family: Lato; }
    body .teaser-section h1,
    body .offer-row h1,
    body .projects-row h1,
    body .about-row h1 {
      text-transform: uppercase; }
  body .teaser-section h1, body .teaser-section img {
    margin-bottom: 1em; }
  body .offer-row {
    background-color: #00458C;
    border-radius: 3px;
    color: white; }
    body .offer-row .offer-title {
      margin-bottom: 0.6em;
      padding-top: 0.6em; }
    body .offer-row .offer-content {
      padding: 0 1em; }
      body .offer-row .offer-content h2 {
        margin-bottom: 0.6em; }
  body .about-row .about-title {
    margin-bottom: 0.6em; }
  body .project-card {
    background-color: #00458C;
    border-radius: 9px;
    margin-top: 1.5em;
    color: white; }
    body .project-card .card-title,
    body .project-card .card-tech,
    body .project-card .card-excerpt {
      padding: 0 1em; }
    body .project-card .card-title {
      padding-top: 0.6em;
      height: 6em; }
      body .project-card .card-title h2 {
        text-transform: uppercase; }
        body .project-card .card-title h2 a {
          text-decoration: none;
          color: white; }
          body .project-card .card-title h2 a:hover, body .project-card .card-title h2 a:focus {
            color: #D7C800; }
  body .card-tech {
    height: 4em; }
  body .card-excerpt {
    height: 8em; }
  body .tech-row {
    margin: 1em 0; }
    body .tech-row .col {
      padding: 0; }
      body .tech-row .col p {
        font-weight: 600;
        font-size: 1.5em; }
  body .artur-blog-title-row {
    margin-top: 3em;
    text-transform: uppercase; }
  body .artur-title-row {
    margin-top: 2em;
    border-bottom: 3px solid #07005B; }
    body .artur-title-row a {
      text-decoration: none;
      color: black; }
      body .artur-title-row a:hover, body .artur-title-row a:focus {
        color: #D7C800; }
      body .artur-title-row a:visited {
        color: black; }
        body .artur-title-row a:visited:hover, body .artur-title-row a:visitedfocus {
          color: #D7C800; }
  body .artur-time-row p {
    font-size: 0.8em; }
  body .artur-contact-description {
    font-family: Lato; }
  body .artur-contact-row {
    margin-top: 2em;
    margin-bottom: 3em; }
    body .artur-contact-row .wpcf7 {
      font-family: Lato; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-name-row,
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-mail-row,
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row,
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-message-row,
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row {
        margin-bottom: 0.5em; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-name-row label,
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-mail-row label,
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label,
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-message-row label,
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row label {
          width: 100%; }
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-name-row label span input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-name-row label span select,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-name-row label span textarea,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-mail-row label span input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-mail-row label span select,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-mail-row label span textarea,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label span input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label span select,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label span textarea,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-message-row label span input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-message-row label span select,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-message-row label span textarea,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row label span input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row label span select,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row label span textarea {
            width: 100%;
            padding: 0.3em 0.5em; }
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-name-row label input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-mail-row label input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-message-row label input,
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row label input {
            width: 100%;
            padding: 0.3em 0.5em; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row span select {
        appearance: none;
        border-radius: 3px;
        font-size: 1em; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label {
        overflow: hidden;
        position: relative;
        display: block; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-subject-row label:after {
        content: "\f0d7";
        font-family: "FontAwesome";
        color: #07005B;
        position: absolute;
        right: 0;
        top: 1.8em;
        z-index: 1;
        text-align: center;
        width: 5%;
        height: 100%;
        pointer-events: none; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row {
        margin-bottom: 0.5em; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row .wpcf7-form-control-wrap .wpcf7-list-item {
          margin-left: 0; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label span {
            color: rgba(0, 0, 0, 0); }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row .wpcf7-list-item-label {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          border: 1px solid #D7C800;
          border-radius: 3px; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label:hover input ~ .wpcf7-list-item-label {
          background-color: rgba(215, 200, 0, 0.45); }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label input:checked ~ .wpcf7-list-item-label {
          background-color: #D7C800; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row .wpcf7-list-item-label:after {
          content: "";
          position: absolute;
          display: none; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label input:checked ~ .wpcf7-list-item-label:after {
          display: block; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row label .wpcf7-list-item-label:after {
          left: 6px;
          top: 2px;
          width: 7px;
          height: 10px;
          border: solid white;
          border-radius: 1px;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row .wpcf7-not-valid-tip {
          margin-top: 1em;
          width: 15em; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row .accept-text {
          padding-left: 0; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-agree-row p {
          margin-top: 0.2em;
          margin-bottom: 0; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row {
        margin-bottom: 0.5em; }
        body .artur-contact-row .wpcf7 .wpcf7-form .artur-quiz-row label input {
          width: 30%; }
      body .artur-contact-row .wpcf7 .wpcf7-form .artur-submit-row input {
        width: 100%; }
      body .artur-contact-row .wpcf7 .wpcf7-form .wpcf7-spinner {
        display: none; }
      body .artur-contact-row .wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
        font-size: 0.8em;
        color: #380074;
        font-weight: 600; }
      body .artur-contact-row .wpcf7 .wpcf7-form .wpcf7-response-output {
        margin: 0;
        color: #380074;
        border: none; }
    body .artur-contact-row .artur-contact-col {
      font-family: Lato; }
      body .artur-contact-row .artur-contact-col .artur-stat-mail-row,
      body .artur-contact-row .artur-contact-col .artur-phone-row,
      body .artur-contact-row .artur-contact-col .artur-contact-name-row {
        margin-bottom: 0.5em; }
        body .artur-contact-row .artur-contact-col .artur-stat-mail-row p a,
        body .artur-contact-row .artur-contact-col .artur-phone-row p a,
        body .artur-contact-row .artur-contact-col .artur-contact-name-row p a {
          text-decoration: none;
          color: black;
          font-weight: 500; }
          body .artur-contact-row .artur-contact-col .artur-stat-mail-row p a:hover, body .artur-contact-row .artur-contact-col .artur-stat-mail-row p a:focus,
          body .artur-contact-row .artur-contact-col .artur-phone-row p a:hover,
          body .artur-contact-row .artur-contact-col .artur-phone-row p a:focus,
          body .artur-contact-row .artur-contact-col .artur-contact-name-row p a:hover,
          body .artur-contact-row .artur-contact-col .artur-contact-name-row p a:focus {
            color: #D7C800; }
          body .artur-contact-row .artur-contact-col .artur-stat-mail-row p a:visited,
          body .artur-contact-row .artur-contact-col .artur-phone-row p a:visited,
          body .artur-contact-row .artur-contact-col .artur-contact-name-row p a:visited {
            color: black; }
            body .artur-contact-row .artur-contact-col .artur-stat-mail-row p a:visited:hover, body .artur-contact-row .artur-contact-col .artur-stat-mail-row p a:visited:focus,
            body .artur-contact-row .artur-contact-col .artur-phone-row p a:visited:hover,
            body .artur-contact-row .artur-contact-col .artur-phone-row p a:visited:focus,
            body .artur-contact-row .artur-contact-col .artur-contact-name-row p a:visited:hover,
            body .artur-contact-row .artur-contact-col .artur-contact-name-row p a:visited:focus {
              color: #D7C800; }
      body .artur-contact-row .artur-contact-col .artur-contact-name-row {
        margin-top: 3em;
        color: #07005B; }
      body .artur-contact-row .artur-contact-col .artur-social-row a i {
        font-size: 2em;
        color: #07005B; }
        body .artur-contact-row .artur-contact-col .artur-social-row a i:hover, body .artur-contact-row .artur-contact-col .artur-social-row a i:focus {
          color: #D7C800; }
        body .artur-contact-row .artur-contact-col .artur-social-row a i:visited {
          color: #07005B; }
          body .artur-contact-row .artur-contact-col .artur-social-row a i:visited:hover, body .artur-contact-row .artur-contact-col .artur-social-row a i:visited:focus {
            color: #D7C800; }
  body .artur-offer-section {
    margin-top: 2em; }
    body .artur-offer-section .artur-offer-title-row,
    body .artur-offer-section .artur-offer-description-row,
    body .artur-offer-section .artur-price-offer-row,
    body .artur-offer-section .artur-offer-info {
      margin-bottom: 0.5em;
      font-family: Lato; }
    body .artur-offer-section .artur-offer-title-row,
    body .artur-offer-section .artur-price-offer-row {
      color: #07005B; }
    body .artur-offer-section .artur-offer-description-row {
      color: black; }
  body .artur-content-row {
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: Lato; }
  body .page-link-row,
  body .artur-post-nav-row {
    margin: 2em 0; }
  body .artur-post-nav-row .col {
    padding: 0; }
    body .artur-post-nav-row .col nav {
      margin-bottom: 0; }
  body .artur-button {
    background-color: #07005B;
    color: white;
    text-decoration: none;
    border-color: #07005B;
    text-transform: uppercase;
    border-radius: 3px; }
    body .artur-button:hover, body .artur-button:focus {
      background-color: #07005B;
      color: #D7C800;
      border-color: #D7C800;
      text-decoration: none; }
  body .button-row {
    padding: 1.5em 0; }
  body .artur-footer {
    color: #07005B;
    background-color: #D7C800; }
    body .artur-footer p {
      margin-top: 2em; }
    body .artur-footer .artur-privacy-policy p a {
      text-decoration: none;
      color: black; }
      body .artur-footer .artur-privacy-policy p a:hover, body .artur-footer .artur-privacy-policy p a:focus {
        color: white; }
      body .artur-footer .artur-privacy-policy p a:visited {
        color: black; }
        body .artur-footer .artur-privacy-policy p a:visited:hover, body .artur-footer .artur-privacy-policy p a:visited:focus {
          color: white; }
