@import "_variables.scss";
body {
    font-family: $font;
    font-size: 100%;
    background-color: $body-color !important;

    //hero & nav styles

    .hero-section {
        padding: 4em 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)),
            url("../img/hero-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .row {
            margin: auto;
        }
    }
    .artur-nav {
        background: $main-color;
        .navbar-toggler {
            border-color: $menu-color;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%287, 0, 91, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .navbar-toggler:focus {
            box-shadow: none;
        }
        .a-logo {
            margin-right: 0;
            padding: 0;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $font;
            font-size: 1.5em;
            font-weight: 700;
            color: $menu-color;
            padding: 0;
        }
        ul {
            margin-left: 1em;
            li {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $font;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: $menu-color;
                    padding: 0;
                    &.current-menu-item {
                        color: $menu-light-color;
                    }
                    &:hover, &:focus {
                        color: $menu-light-color;
                    }
                }
            }
        }
    }

    //container blog site

    .blog-con {
        margin-bottom: 1em;
    }

    //front page styles

    .teaser-section,
    .offer-row,
    .projects-row,
    .about-row {
        margin-top: 3em;
        font-family: $font;
        h1 {
            text-transform: uppercase;
        }
    }
    .teaser-section {
        h1, img {
            margin-bottom: 1em;
        }
    }
    .offer-row {
        background-color: $card-color;
        border-radius: $main-radius;
        color: $menu-light-color;
        .offer-title {
            margin-bottom: 0.6em;
            padding-top: 0.6em;
        }
        .offer-content {
            padding: 0 1em;
            h2 {
                margin-bottom: 0.6em;
            }
        }
    }
    .about-row {
        .about-title {
            margin-bottom: 0.6em;
        }
    }

    //project styles

    .project-card {
        background-color: $card-color;
        border-radius: 9px;
        margin-top: 1.5em;
        color: $menu-light-color;
        .card-title,
        .card-tech,
        .card-excerpt {
            padding: 0 1em;
        }
        .card-title {
            padding-top: 0.6em;
            height: 6em;
            h2 {
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    color: $menu-light-color;
                    &:hover, &:focus {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .card-tech {
        height: 4em;
    }
    .card-excerpt {
        height: 8em;
    }
    .tech-row {
        margin: 1em 0;
        .col {
            padding: 0;
            p {
                font-weight: 600;
                font-size: 1.5em;
            }
        }
    }

    //blog styles

    .artur-blog-title-row {
        margin-top: 3em;
        text-transform: uppercase;
    }
    .artur-title-row {
        margin-top: 2em;
        border-bottom: 3px solid $menu-color;
        a {
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $main-color;
            }
            &:visited {
                color: $text-color;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    .artur-time-row {
        p {
            font-size: 0.8em;
        }
    }

    //contact styles

    .artur-contact-row {
        margin-top: 2em;
        margin-bottom: 3em;
        .wpcf7 {
            font-family: $font;
            .wpcf7-form {
                .artur-name-row,
                .artur-mail-row,
                .artur-subject-row,
                .artur-message-row,
                .artur-quiz-row {
                    margin-bottom: 0.5em;
                    label {
                        width: 100%;
                        span {
                            input,
                            select,
                            textarea {
                                width: 100%;
                                padding: 0.3em 0.5em;
                            }
                        }
                        input {
                            width: 100%;
                            padding: 0.3em 0.5em;
                        }
                    }
                }
                .artur-subject-row {
                    span {
                        select {
                            appearance: none;
                            border-radius: $main-radius;
                            font-size: 1em;
                        }
                    }
                    label {
                        overflow: hidden;
                        position: relative;
                        display: block;
                    }
                    label:after {
                        content: "\f0d7";
                        font-family: "FontAwesome";
                        color: $menu-color;
                        position: absolute;
                        right: 0;
                        top: 1.8em;
                        z-index: 1;
                        text-align: center;
                        width: 5%;
                        height: 100%;
                        pointer-events: none;
                    }
                }
                .artur-agree-row {
                    margin-bottom: 0.5em;
                    .wpcf7-form-control-wrap {
                        .wpcf7-list-item {
                            margin-left: 0;
                        }
                    }
                    label {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        span {
                            color: rgba(0, 0, 0, 0);
                        }
                    }
                    label input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    .wpcf7-list-item-label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        border: 1px solid $main-color;
                        border-radius: $main-radius;
                    }
                    label:hover input ~ .wpcf7-list-item-label {
                        background-color: $main-color-hover;
                    }
                    label input:checked ~ .wpcf7-list-item-label {
                        background-color: $main-color;
                    }
                    .wpcf7-list-item-label:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                    label input:checked ~ .wpcf7-list-item-label:after {
                        display: block;
                    }
                    label .wpcf7-list-item-label:after {
                        left: 6px;
                        top: 2px;
                        width: 7px;
                        height: 10px;
                        border: solid $menu-light-color;
                        border-radius: 1px;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    .wpcf7-not-valid-tip {
                        margin-top: 1em;
                        width: 15em;
                    }
                    .accept-text {
                        padding-left: 0;
                    }
                    p {
                        margin-top: 0.2em;
                        margin-bottom: 0;
                    }
                }
                .artur-quiz-row {
                    margin-bottom: 0.5em;
                    label {
                        input {
                            width: 30%;
                        }
                    }
                }
                .artur-submit-row {
                    input {
                        width: 100%;
                    }
                }
                .wpcf7-spinner {
                    display: none;
                }
                .wpcf7-not-valid-tip {
                    font-size: 0.8em;
                    color: $error-color;
                    font-weight: 600;
                }
                .wpcf7-response-output {
                    margin: 0;
                    color: $error-color;
                    border: none;
                }
            }
        }
        .artur-contact-col {
            font-family: $font;
            .artur-stat-mail-row,
            .artur-phone-row,
            .artur-contact-name-row {
                margin-bottom: 0.5em;
                p {
                    a {
                        text-decoration: none;
                        color: $text-color;
                        font-weight: 500;
                        &:hover, &:focus {
                            color: $main-color;
                        }
                        &:visited {
                            color: $text-color;
                        }
                    }
                }
            }
            .artur-contact-name-row {
                margin-top: 3em;
                color: $menu-color;
            }
            .artur-social-row {
                a {
                    i {
                        font-size: 2em;
                        color: $menu-color;
                        &:hover, &:focus {
                            color: $main-color;
                        }
                        &:visited {
                            color: $menu-color;
                        }
                    }
                }
            }
        }
    }

    //offer styles

    .artur-offer-section {
        margin-top: 2em;
        .artur-offer-title-row,
        .artur-offer-description-row,
        .artur-price-offer-row,
        .artur-offer-info {
            margin-bottom: 0.5em;
            font-family: $font;
        }
        .artur-offer-title-row,
        .artur-price-offer-row {
            color: $menu-color;
        }

        .artur-offer-description-row {
            color: $text-color;
        }
    }

    //pages style

    .artur-content-row {
        margin-bottom: 2em;
        margin-top: 2em;
        font-family: $font;
    }

    //nav-links styles

    .page-link-row,
    .artur-post-nav-row {
        margin: 2em 0;
    }
    .artur-post-nav-row {
        .col {
            padding: 0;
            nav {
                margin-bottom: 0;
            }
        }
    }

    //button styles

    .artur-button {
        background-color: $menu-color;
        color: $menu-light-color;
        text-decoration: none;
        border-color: $menu-color;
        text-transform: uppercase;
        border-radius: $main-radius;
        &:hover, &:focus {
            background-color: $menu-color;
            color: $main-color;
            border-color: $main-color;
            text-decoration: none;
        }
    }
    .button-row {
        padding: 1.5em 0;
    }

    //footer style

    .artur-footer {
        color: $menu-color;
        background-color: $main-color;
        p {
            margin-top: 2em;
        }
    }
}
