@import "_variables.scss";
body {
    font-family: $font;
    font-size: 100%;
    background-color: $body-color !important;

//hero & nav styles

    .hero-section {
        padding: 4em 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/hero-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .row {
            margin: auto;
        }
    }
    .artur-nav {
        background: $main-color;
        .navbar-toggler {
            border-color: $menu-color;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%287, 0, 91, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .navbar-toggler:focus {
          box-shadow: none;
        }
        .a-logo {
            margin-right: 0;
            padding: 0;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $font;
            font-size: 1.5em;
            font-weight: 700;
            color: $menu-color;
            padding: 0;
        }
        ul {
            margin-left: 1em;
            li {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $font;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: $menu-color;
                    padding: 0;
                    &.current-menu-item {
                        color: $menu-light-color;
                    }
                    &:hover {
                        color: $menu-light-color;
                    }
                }
            }
        }
    }

//front page styles

    .teaser-section, .offer-row, .projects-row, .about-row {
        margin-top: 3em;
        font-family: $font;
        h1 {
            text-transform: uppercase;
        }
    }
    .teaser-section {
        h1 {
            margin-bottom: 1em;
        }
    }
    .offer-row {
        background-color: $card-color;
        border-radius: 9px;
        color: $menu-light-color;
        .offer-title {
            margin-bottom: 0.6em;
            padding-top: 0.6em;
        }
        .offer-content {
            padding: 0 1em;
            h2 {
                margin-bottom: 0.6em;
            }
        }
    }
    .about-row {
        .about-title {
            margin-bottom: 0.6em;
        }
    }

//project styles

    .project-card {
        background-color: $card-color;
        border-radius: 9px;
        margin-top: 1.5em;
        color: $menu-light-color;
        .card-title, .card-tech, .card-excerpt {
            padding: 0 1em;
        }
        .card-title {
            padding-top: 0.6em;
            h2 {
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    color: $menu-light-color;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .tech-row {
        margin: 1em 0;
        .col {
            padding: 0;
            p {
                font-weight: 600;
                font-size: 1.5em;
            }
        }
    }

//blog styles

    .artur-blog-title-row {
        margin-top: 3em;
        text-transform: uppercase;
    }
    .artur-title-row {
        margin-top: 2em;
        border-bottom: 3px solid $menu-color;
        a {
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $main-color;
            }
            &:visited {
                color: $text-color;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    .artur-time-row {
        p {
            font-size: 0.8em;
        }
    }

//nav-links styles

    .page-link-row, .artur-post-nav-row {
        margin: 2em 0;
    }
    .artur-post-nav-row {
        .col {
            padding: 0;
            nav {
                margin-bottom: 0;
            }
        }
    }

//button styles

.artur-button {
    background-color: $menu-color;
    color: $menu-light-color;
    text-decoration: none;
    border-color: $menu-color;
    text-transform: uppercase;
    &:hover {
        background-color: $menu-color;
        color: $main-color;
        border-color: $main-color;
        text-decoration: none;
    }
}
.button-row {
    padding: 1.5em 0;
}

//footer style

    .artur-footer {
        color: $menu-color;
        background-color: $main-color;
        p {
            margin-top: 2em;
        }
    }
}
